[run]
omit =
  pyaerocom/conftest.py
  pyaerocom/_conftest_helpers.py
  pyaerocom/test/*
  pyaerocom/io/test/*
  pyaerocom/web/test/*
  pyaerocom/plot/test/*
  pyaerocom/scripts/test/*
  pyaerocom/web/helpers_trends_iface.py
  pyaerocom/web/trends_evaluation.py
  pyaerocom/web/cli/main_trends_evaluation.py

[report]
exclude_lines =
  if __name__=='__main__':
  if __name__=="__main__":
  if __name__ == "__main__":
  if __name__ == '__main__':
