pyaerocom.log*

# Byte-compiled / optimized / DLL files
__pycache__/
_cache/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# pycharm directory
.idea/

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*,cover
.hypothesis/
.testmondata

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
#docs/_build/

# PyBuilder
target/

# IPython Notebook
.ipynb_checkpoints

# pyenv
.python-version

# celery beat schedule file
celerybeat-schedule

# dotenv
.env

# virtualenv
venv/
ENV/
.venv/

# Spyder project settings
.spyderproject
.spyproject

# Visual studio code project
.vscode

# Rope project settings
.ropeproject

# .bak files
*.bak

# Output from test / development directory
test_dev/out

# Private and development folders
test_dev/private
notebooks/dev


# Private and output folders
private
_dev
dev_input_others
pyaerocom/io/TEMP
dev_scripts/out/
pyaerocom.egg-info

# test cache
.pytest_cache/

# development modules
pyaerocom/helpers_DEV.py

# development notebooks
notebooks/_*.ipynb

# files that include OLD in their filename
*OLD*

# Documentation HTML pages
docs/_build

# Sorted out directory
pyaerocom/_sorted_out

# Issues directory
issues/

# Tutorials output for docs
docs/pyaerocom-tutorials


# Issues directory
issues/

# broken docs (updated in Jan 2020)
docs_BROKEN
sorted_out

# save pycharm run configs, but nothing else from pycharm
!.idea/runConfigurations

# Vim temp files
*.swp
logging.ini
